@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {}

h1 {
    margin: 3%;
    font-weight: 600;
    font-size: 48px;
}

h2 {
    margin: 3%;
    font-size: 30px;
    margin-bottom: 1px;
    margin-top: 2%;
}

h3 {
    color: #000000;
}

.price {
    font-size: 19px;
    color: #EE3224;
    margin-bottom: 12px;
}

.imgSpect {
    height: auto;
    width: 25%;
    border-radius: 5px;
}

.product-item {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    transition: .3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day_afisha {
    color: #EE3224;
    align-content: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.product-item img {
    height: auto;

    width: 100%;
    border-radius: 5px;
}

.mouth_repertuar {
    display: flex;
    justify-content: center;
}

.textHistory {
    display: grid;
    margin: 90px;
}

.textHistory img {
    margin: auto;
}

.error {
    display: flex;
    justify-content: center;
}

.buy_button {
    padding: 10px;
    font-size: 20px;
    background: #1B1D36;
    color: #F1F1F5;
    border: none;
    margin-left: 10px;
    text-align: center;
    border-radius: 16px;
}

.output {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.afisha_mouth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.afisha_item_mobile{
    font-size: 15px;
}

footer{
    background-color: #1B1D36;
    margin: 0;
}

.bio_acter{
    display: flex;
    margin: 100px;
    margin-top: 50px;
}
.bio_acter_photo img{
    height: auto;
    width: 300px;
    border-radius: 5px;
    margin:40px;
    margin-top: 0px;
}

.spect{
    display: flex;
    margin: 100px;
    margin-top: 50px;
    border-bottom: 3px solid #EE3224;
}
.spect img{
    height: 500px;
    border-radius: 5px;
    margin:40px;
    margin-top: 0px;
}
.spect h1{
    margin: 0;
    color: #EE3224;
}

.spect h2{
    margin:0;
    margin-top: 15px;
}
.spect h3{
    margin-top: 30px;
}
.spect p{
    font-size: 46px;
    font-weight: bold;
    color: #EE3224;
    margin-top:10px;

}
.spect_discrp{
    margin:100px;
    
}
.spect_discrp h2{
    text-align: center;
    margin:20px;
}

.spect_photo{
    margin:100px;
}
.spect_photo h2{
    text-align: center;
}

.spect_artist{
    margin: 100px;
}
.spect_artist h2{
    text-align: center;
}
.spect_artist p{
    color:#EE3224;
}
.photo_spect img{
    height: auto;
    width: 400px;
    border-radius: 5px;
    margin:40px;
    margin-top: 0px;
}
.spect_pic{
    display: flex;
    
    margin-top: 50px;
}
.spect_pic img{
    height: 300px;
    border-radius: 5px;
    margin-top: 0px;
}
/* Перписать этот старый пиздец */

.afisha_container {
    border-bottom: 3px solid black;
}

.mouth {
    margin: 0 20px;
    color: #EE3224;
    border-bottom: 3px solid black;
}

.mouth a {
    color: #EE3224;
    text-decoration: none;
}

.auth_container{
    display: flex;
    justify-content: center;
    margin: 100px;
    align-items: center;
}


.afisha_item {
    margin: 5px;
    padding: 5px;
}

span {
    color: #EE3224;
    font-size: 15px;
}

.abonement {
    display: flex;
    justify-content: center;

}

.abonement_item {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    transition: .3s ease-in;
    display: flex;
    flex-direction: column;

}

.abonement_item img {

    height: auto;
    width: 100%;
    border-radius: 5px;
}

.abonement_date {
    font-size: 16px;
    color: #000000;
    margin-bottom: 12px;
}

.author {
    font-size: 15px;
    color: black;
}