@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{

}
h1{
    margin: 3%;
    font-weight: 600;
    font-size: 48px;
}

h2{
    margin: 3%;
    font-size: 24px;
}

.imgSpect{
    height: auto;
    width: 25%;
    border-radius: 5px;
}

.product-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-item {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    transition: .3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 

.product-item img {
    
    height: auto;
    width: 100%;
    border-radius: 5px;
 }

 .price{ 
        font-size: 16px;
        color: #EE3224;
        margin-bottom: 12px;
 }

 .mouth_repertuar{
    display: flex;
    justify-content: center;
}

/* Перписать этот старый пиздец */

.afisha_container{
    border-bottom: 3px solid black;
}
.mouth{
    margin: 0 20px;
    color: #EE3224;
    border-bottom: 3px solid black;
} 

.mouth a{
    color:#EE3224;
    text-decoration: none;
}

.afisha_mouth{
  display: flex;
  justify-content: center;
  align-items: center;

}
.afisha_item{
    margin: 5px;
    padding: 5px;
}
span{
    color: #EE3224;
    align-content: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.abonement{
    display: flex;
    justify-content: center;
    
  }
  .abonement_item{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    transition: .3s ease-in;
    display: flex;
    flex-direction: column;
    
  }
  .abonement_item img {
    
    height: auto;
    width: 100%;
    border-radius: 5px;
 }
 .abonement_date{
    font-size: 16px;
    color: #000000;
    margin-bottom: 12px;
 }